<!DOCTYPE html>
{%extends "index.html"%}
{%block content%}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}
<p1>{{msg}}</p1>
{% endfor %}
{% endif %}
{% endwith%}
{% for tenant in content %}

<div style="display: flex; align-items: center;">
    <p2>{{tenant.id}} </p2>
    <p2>{{tenant.name}} </p2>
    <p2>{{tenant.age}} </p2>
    <form method="POST" action="/view/{{tenant.id}}">
        <p2><button type="submit" value="{{tenant.id}}" name="view">View</button></p2>
    </form>
    <form method="POST" action="/remove_tenant/{{tenant.id}}">
        <p2><button type="submit" value="{{tenant.id}}" name="remove">Remove</button></p2>
    </form>
    <form method="POST" action="/edit/{{tenant.id}}">
        <p2><button type="submit" value="{{tenant.id}}" name="edit">Edit</button></p2>
    </form>
</div>
{%endfor%}

{% for maintenance in maintenance_requests %}
<div style="display: flex; align-items: center;">
    <p>{{maintenance}}</p>
</div>
{%endfor%}

{%endblock%}