<!DOCTYPE html>
{%extends "index.html"%}
{%block content%}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}
<p1>{{msg}}</p1>
{% endfor %}
{% endif %}
{% endwith%}
<form method="POST">
    <p1>Register</p1>
    <br>
    <p1><input type="number" name="id" placeholder="ID number"></p1>
    <br>
    <p1><input type="string" name="name" placeholder="Name"></p1>
    <br>
    <p1><input type="number" name="age" placeholder="Age"></p1>
    <br>
    <p1><input type="submit" value="submit"></p1>
</form>
{%endblock%}